src/main/resources/wsdls/WebDataMgt/WebDataMgt.wsdl

<definitions targetNamespace="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt">
   <types>
      <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/Tables" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/Tables">
         <complexType name="Records">
            <sequence>
               <element minOccurs="0" maxOccurs="1" name="Code" type="string"/>
               <element minOccurs="0" maxOccurs="1" name="Description" type="string"/>
            </sequence>
         </complexType>
         <complexType name="Root" mixed="true">
            <sequence>
               <element minOccurs="0" maxOccurs="unbounded" name="Records" type="tns:Records"/>
            </sequence>
         </complexType>
         <element name="Root" type="tns:Root"/>
      </schema>
      <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/Covers" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/Covers">
         <complexType name="Records">
            <sequence>
               <element minOccurs="0" maxOccurs="1" name="Code" type="string"/>
               <element minOccurs="0" maxOccurs="1" name="Description" type="string"/>
               <element minOccurs="0" maxOccurs="1" name="Type" type="string"/>
            </sequence>
         </complexType>
         <complexType name="Root" mixed="true">
            <sequence>
               <element minOccurs="0" maxOccurs="unbounded" name="Records" type="tns:Records"/>
            </sequence>
         </complexType>
         <element name="Root" type="tns:Root"/>
      </schema>
      <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/Discount_Charges" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/Discount_Charges">
         <complexType name="Records">
            <sequence>
               <element minOccurs="1" maxOccurs="1" name="Code" type="string"/>
               <element minOccurs="0" maxOccurs="1" name="Description" type="string"/>
               <element minOccurs="0" maxOccurs="1" default="0" name="Percentage" type="decimal"/>
               <element minOccurs="0" maxOccurs="1" default="0" name="Amount" type="decimal"/>
            </sequence>
         </complexType>
         <complexType name="Root" mixed="true">
            <sequence>
               <element minOccurs="0" maxOccurs="unbounded" name="Records" type="tns:Records"/>
            </sequence>
         </complexType>
         <element name="Root" type="tns:Root"/>
      </schema>
      <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/Ins_Makes" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:microsoft-dynamics-nav/xmlports/Ins_Makes">
         <complexType name="Records">
            <sequence>
               <element minOccurs="0" maxOccurs="1" name="Code" type="string"/>
               <element minOccurs="0" maxOccurs="1" name="Name" type="string"/>
               <element minOccurs="1" maxOccurs="1" name="Type" type="string"/>
            </sequence>
         </complexType>
         <complexType name="Root" mixed="true">
            <sequence>
               <element minOccurs="0" maxOccurs="unbounded" name="Records" type="tns:Records"/>
            </sequence>
         </complexType>
         <element name="Root" type="tns:Root"/>
      </schema>
      <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt" xmlns="http://www.w3.org/2001/XMLSchema">
         <element name="TaxOffices">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q1:Root" xmlns:q1="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="TaxOffices_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q2:Root" xmlns:q2="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="Professions">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q3:Root" xmlns:q3="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="Professions_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q4:Root" xmlns:q4="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="RelationTypes">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q5:Root" xmlns:q5="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="RelationTypes_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q6:Root" xmlns:q6="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="InsCompanies">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q7:Root" xmlns:q7="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="InsCompanies_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q8:Root" xmlns:q8="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="Brokers">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q9:Root" xmlns:q9="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="Brokers_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q10:Root" xmlns:q10="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="CustomFieldsTemplates">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q11:Root" xmlns:q11="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="CustomFieldsTemplates_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q12:Root" xmlns:q12="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="CustomFields">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q13:Root" xmlns:q13="urn:microsoft-dynamics-nav/xmlports/Covers"/>
               </sequence>
            </complexType>
         </element>
         <element name="CustomFields_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q14:Root" xmlns:q14="urn:microsoft-dynamics-nav/xmlports/Covers"/>
               </sequence>
            </complexType>
         </element>
         <element name="CustomFieldsValues">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="code" type="string"/>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q15:Root" xmlns:q15="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="CustomFieldsValues_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q16:Root" xmlns:q16="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="CustomFieldsPerTemplate">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="templateCode" type="string"/>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q17:Root" xmlns:q17="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="CustomFieldsPerTemplate_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q18:Root" xmlns:q18="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="Covers">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q19:Root" xmlns:q19="urn:microsoft-dynamics-nav/xmlports/Covers"/>
                  <element minOccurs="1" maxOccurs="1" name="insCategoryCode" type="string"/>
                  <element minOccurs="1" maxOccurs="1" name="insCompanyCode" type="string"/>
               </sequence>
            </complexType>
         </element>
         <element name="Covers_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q20:Root" xmlns:q20="urn:microsoft-dynamics-nav/xmlports/Covers"/>
               </sequence>
            </complexType>
         </element>
         <element name="Packages">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q21:Root" xmlns:q21="urn:microsoft-dynamics-nav/xmlports/Tables"/>
                  <element minOccurs="1" maxOccurs="1" name="insCategoryCode" type="string"/>
                  <element minOccurs="1" maxOccurs="1" name="insCompanyCode" type="string"/>
                  <element minOccurs="1" maxOccurs="1" name="insObjectTypeCode" type="string"/>
               </sequence>
            </complexType>
         </element>
         <element name="Packages_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q22:Root" xmlns:q22="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="Discounts">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q23:Root" xmlns:q23="urn:microsoft-dynamics-nav/xmlports/Discount_Charges"/>
                  <element minOccurs="1" maxOccurs="1" name="insCategoryCode" type="string"/>
                  <element minOccurs="1" maxOccurs="1" name="insCompanyCode" type="string"/>
               </sequence>
            </complexType>
         </element>
         <element name="Discounts_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q24:Root" xmlns:q24="urn:microsoft-dynamics-nav/xmlports/Discount_Charges"/>
               </sequence>
            </complexType>
         </element>
         <element name="Charges">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q25:Root" xmlns:q25="urn:microsoft-dynamics-nav/xmlports/Discount_Charges"/>
                  <element minOccurs="1" maxOccurs="1" name="insCategoryCode" type="string"/>
                  <element minOccurs="1" maxOccurs="1" name="insCompanyCode" type="string"/>
               </sequence>
            </complexType>
         </element>
         <element name="Charges_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q26:Root" xmlns:q26="urn:microsoft-dynamics-nav/xmlports/Discount_Charges"/>
               </sequence>
            </complexType>
         </element>
         <element name="VesselTypes">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q27:Root" xmlns:q27="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="VesselTypes_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q28:Root" xmlns:q28="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="VehicleTypes">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q29:Root" xmlns:q29="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="VehicleTypes_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q30:Root" xmlns:q30="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="Makes">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q31:Root" xmlns:q31="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="Makes_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q32:Root" xmlns:q32="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="MakesByType">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q33:Root" xmlns:q33="urn:microsoft-dynamics-nav/xmlports/Ins_Makes"/>
                  <element minOccurs="1" maxOccurs="1" name="makeType" type="int"/>
               </sequence>
            </complexType>
         </element>
         <element name="MakesByType_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q34:Root" xmlns:q34="urn:microsoft-dynamics-nav/xmlports/Ins_Makes"/>
               </sequence>
            </complexType>
         </element>
         <element name="Models">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q35:Root" xmlns:q35="urn:microsoft-dynamics-nav/xmlports/Tables"/>
                  <element minOccurs="1" maxOccurs="1" name="makeCode" type="string"/>
               </sequence>
            </complexType>
         </element>
         <element name="Models_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q36:Root" xmlns:q36="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="Colors">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q37:Root" xmlns:q37="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="Colors_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q38:Root" xmlns:q38="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="Banks">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q39:Root" xmlns:q39="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="Banks_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q40:Root" xmlns:q40="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="Counties">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q41:Root" xmlns:q41="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="Counties_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q42:Root" xmlns:q42="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="CountriesRegions">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q43:Root" xmlns:q43="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="CountriesRegions_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q44:Root" xmlns:q44="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="Ports">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q45:Root" xmlns:q45="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="Ports_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q46:Root" xmlns:q46="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="VesselClassSociety">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q47:Root" xmlns:q47="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="VesselClassSociety_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q48:Root" xmlns:q48="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="InsObjectTypes">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q49:Root" xmlns:q49="urn:microsoft-dynamics-nav/xmlports/Tables"/>
                  <element minOccurs="1" maxOccurs="1" name="insCategoryCode" type="string"/>
               </sequence>
            </complexType>
         </element>
         <element name="InsObjectTypes_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q50:Root" xmlns:q50="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="InsObjectTypeGroups">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q51:Root" xmlns:q51="urn:microsoft-dynamics-nav/xmlports/Tables"/>
                  <element minOccurs="1" maxOccurs="1" name="insCategoryCode" type="string"/>
                  <element minOccurs="1" maxOccurs="1" name="insSubCategoryCode" type="string"/>
               </sequence>
            </complexType>
         </element>
         <element name="InsObjectTypeGroups_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q52:Root" xmlns:q52="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="DurationTypes">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="insCategory" type="string"/>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q53:Root" xmlns:q53="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="DurationTypes_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q54:Root" xmlns:q54="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="InsCategories">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q55:Root" xmlns:q55="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="InsCategories_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q56:Root" xmlns:q56="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="InsSubCategories">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q57:Root" xmlns:q57="urn:microsoft-dynamics-nav/xmlports/Tables"/>
                  <element minOccurs="1" maxOccurs="1" name="insCategoryCode" type="string"/>
               </sequence>
            </complexType>
         </element>
         <element name="InsSubCategories_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q58:Root" xmlns:q58="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="CoverCategories">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q59:Root" xmlns:q59="urn:microsoft-dynamics-nav/xmlports/Tables"/>
                  <element minOccurs="1" maxOccurs="1" name="insCategoryCode" type="string"/>
               </sequence>
            </complexType>
         </element>
         <element name="CoverCategories_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q60:Root" xmlns:q60="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="EndorsementReasons">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q61:Root" xmlns:q61="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="EndorsementReasons_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q62:Root" xmlns:q62="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="CustomerDiscountGroups">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q63:Root" xmlns:q63="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="CustomerDiscountGroups_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q64:Root" xmlns:q64="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="AttachedDocumentTypes">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q65:Root" xmlns:q65="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="AttachedDocumentTypes_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q66:Root" xmlns:q66="urn:microsoft-dynamics-nav/xmlports/Tables"/>
               </sequence>
            </complexType>
         </element>
         <element name="CoversByPackage">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q67:Root" xmlns:q67="urn:microsoft-dynamics-nav/xmlports/Covers"/>
                  <element minOccurs="1" maxOccurs="1" name="packageCode" type="string"/>
                  <element minOccurs="1" maxOccurs="1" name="insObjectTypeCode" type="string"/>
                  <element minOccurs="1" maxOccurs="1" name="insObjectTypeGroupCode" type="string"/>
                  <element minOccurs="1" maxOccurs="1" name="brokerNo" type="string"/>
                  <element minOccurs="1" maxOccurs="1" name="referenceDate" type="string"/>
               </sequence>
            </complexType>
         </element>
         <element name="CoversByPackage_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q68:Root" xmlns:q68="urn:microsoft-dynamics-nav/xmlports/Covers"/>
               </sequence>
            </complexType>
         </element>
         <element name="DiscountsByPackage">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q69:Root" xmlns:q69="urn:microsoft-dynamics-nav/xmlports/Discount_Charges"/>
                  <element minOccurs="1" maxOccurs="1" name="packageCode" type="string"/>
                  <element minOccurs="1" maxOccurs="1" name="insCategoryCode" type="string"/>
                  <element minOccurs="1" maxOccurs="1" name="insCompanyCode" type="string"/>
               </sequence>
            </complexType>
         </element>
         <element name="DiscountsByPackage_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q70:Root" xmlns:q70="urn:microsoft-dynamics-nav/xmlports/Discount_Charges"/>
               </sequence>
            </complexType>
         </element>
         <element name="ChargesByPackage">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q71:Root" xmlns:q71="urn:microsoft-dynamics-nav/xmlports/Discount_Charges"/>
                  <element minOccurs="1" maxOccurs="1" name="packageCode" type="string"/>
                  <element minOccurs="1" maxOccurs="1" name="insCategoryCode" type="string"/>
                  <element minOccurs="1" maxOccurs="1" name="insCompanyCode" type="string"/>
               </sequence>
            </complexType>
         </element>
         <element name="ChargesByPackage_Result">
            <complexType>
               <sequence>
                  <element minOccurs="1" maxOccurs="1" name="iTable" type="q72:Root" xmlns:q72="urn:microsoft-dynamics-nav/xmlports/Discount_Charges"/>
               </sequence>
            </complexType>
         </element>
      </schema>
   </types>
   <message name="TaxOffices">
      <part name="parameters" element="tns:TaxOffices"/>
   </message>
   <message name="TaxOffices_Result">
      <part name="parameters" element="tns:TaxOffices_Result"/>
   </message>
   <message name="Professions">
      <part name="parameters" element="tns:Professions"/>
   </message>
   <message name="Professions_Result">
      <part name="parameters" element="tns:Professions_Result"/>
   </message>
   <message name="RelationTypes">
      <part name="parameters" element="tns:RelationTypes"/>
   </message>
   <message name="RelationTypes_Result">
      <part name="parameters" element="tns:RelationTypes_Result"/>
   </message>
   <message name="InsCompanies">
      <part name="parameters" element="tns:InsCompanies"/>
   </message>
   <message name="InsCompanies_Result">
      <part name="parameters" element="tns:InsCompanies_Result"/>
   </message>
   <message name="Brokers">
      <part name="parameters" element="tns:Brokers"/>
   </message>
   <message name="Brokers_Result">
      <part name="parameters" element="tns:Brokers_Result"/>
   </message>
   <message name="CustomFieldsTemplates">
      <part name="parameters" element="tns:CustomFieldsTemplates"/>
   </message>
   <message name="CustomFieldsTemplates_Result">
      <part name="parameters" element="tns:CustomFieldsTemplates_Result"/>
   </message>
   <message name="CustomFields">
      <part name="parameters" element="tns:CustomFields"/>
   </message>
   <message name="CustomFields_Result">
      <part name="parameters" element="tns:CustomFields_Result"/>
   </message>
   <message name="CustomFieldsValues">
      <part name="parameters" element="tns:CustomFieldsValues"/>
   </message>
   <message name="CustomFieldsValues_Result">
      <part name="parameters" element="tns:CustomFieldsValues_Result"/>
   </message>
   <message name="CustomFieldsPerTemplate">
      <part name="parameters" element="tns:CustomFieldsPerTemplate"/>
   </message>
   <message name="CustomFieldsPerTemplate_Result">
      <part name="parameters" element="tns:CustomFieldsPerTemplate_Result"/>
   </message>
   <message name="Covers">
      <part name="parameters" element="tns:Covers"/>
   </message>
   <message name="Covers_Result">
      <part name="parameters" element="tns:Covers_Result"/>
   </message>
   <message name="Packages">
      <part name="parameters" element="tns:Packages"/>
   </message>
   <message name="Packages_Result">
      <part name="parameters" element="tns:Packages_Result"/>
   </message>
   <message name="Discounts">
      <part name="parameters" element="tns:Discounts"/>
   </message>
   <message name="Discounts_Result">
      <part name="parameters" element="tns:Discounts_Result"/>
   </message>
   <message name="Charges">
      <part name="parameters" element="tns:Charges"/>
   </message>
   <message name="Charges_Result">
      <part name="parameters" element="tns:Charges_Result"/>
   </message>
   <message name="VesselTypes">
      <part name="parameters" element="tns:VesselTypes"/>
   </message>
   <message name="VesselTypes_Result">
      <part name="parameters" element="tns:VesselTypes_Result"/>
   </message>
   <message name="VehicleTypes">
      <part name="parameters" element="tns:VehicleTypes"/>
   </message>
   <message name="VehicleTypes_Result">
      <part name="parameters" element="tns:VehicleTypes_Result"/>
   </message>
   <message name="Makes">
      <part name="parameters" element="tns:Makes"/>
   </message>
   <message name="Makes_Result">
      <part name="parameters" element="tns:Makes_Result"/>
   </message>
   <message name="MakesByType">
      <part name="parameters" element="tns:MakesByType"/>
   </message>
   <message name="MakesByType_Result">
      <part name="parameters" element="tns:MakesByType_Result"/>
   </message>
   <message name="Models">
      <part name="parameters" element="tns:Models"/>
   </message>
   <message name="Models_Result">
      <part name="parameters" element="tns:Models_Result"/>
   </message>
   <message name="Colors">
      <part name="parameters" element="tns:Colors"/>
   </message>
   <message name="Colors_Result">
      <part name="parameters" element="tns:Colors_Result"/>
   </message>
   <message name="Banks">
      <part name="parameters" element="tns:Banks"/>
   </message>
   <message name="Banks_Result">
      <part name="parameters" element="tns:Banks_Result"/>
   </message>
   <message name="Counties">
      <part name="parameters" element="tns:Counties"/>
   </message>
   <message name="Counties_Result">
      <part name="parameters" element="tns:Counties_Result"/>
   </message>
   <message name="CountriesRegions">
      <part name="parameters" element="tns:CountriesRegions"/>
   </message>
   <message name="CountriesRegions_Result">
      <part name="parameters" element="tns:CountriesRegions_Result"/>
   </message>
   <message name="Ports">
      <part name="parameters" element="tns:Ports"/>
   </message>
   <message name="Ports_Result">
      <part name="parameters" element="tns:Ports_Result"/>
   </message>
   <message name="VesselClassSociety">
      <part name="parameters" element="tns:VesselClassSociety"/>
   </message>
   <message name="VesselClassSociety_Result">
      <part name="parameters" element="tns:VesselClassSociety_Result"/>
   </message>
   <message name="InsObjectTypes">
      <part name="parameters" element="tns:InsObjectTypes"/>
   </message>
   <message name="InsObjectTypes_Result">
      <part name="parameters" element="tns:InsObjectTypes_Result"/>
   </message>
   <message name="InsObjectTypeGroups">
      <part name="parameters" element="tns:InsObjectTypeGroups"/>
   </message>
   <message name="InsObjectTypeGroups_Result">
      <part name="parameters" element="tns:InsObjectTypeGroups_Result"/>
   </message>
   <message name="DurationTypes">
      <part name="parameters" element="tns:DurationTypes"/>
   </message>
   <message name="DurationTypes_Result">
      <part name="parameters" element="tns:DurationTypes_Result"/>
   </message>
   <message name="InsCategories">
      <part name="parameters" element="tns:InsCategories"/>
   </message>
   <message name="InsCategories_Result">
      <part name="parameters" element="tns:InsCategories_Result"/>
   </message>
   <message name="InsSubCategories">
      <part name="parameters" element="tns:InsSubCategories"/>
   </message>
   <message name="InsSubCategories_Result">
      <part name="parameters" element="tns:InsSubCategories_Result"/>
   </message>
   <message name="CoverCategories">
      <part name="parameters" element="tns:CoverCategories"/>
   </message>
   <message name="CoverCategories_Result">
      <part name="parameters" element="tns:CoverCategories_Result"/>
   </message>
   <message name="EndorsementReasons">
      <part name="parameters" element="tns:EndorsementReasons"/>
   </message>
   <message name="EndorsementReasons_Result">
      <part name="parameters" element="tns:EndorsementReasons_Result"/>
   </message>
   <message name="CustomerDiscountGroups">
      <part name="parameters" element="tns:CustomerDiscountGroups"/>
   </message>
   <message name="CustomerDiscountGroups_Result">
      <part name="parameters" element="tns:CustomerDiscountGroups_Result"/>
   </message>
   <message name="AttachedDocumentTypes">
      <part name="parameters" element="tns:AttachedDocumentTypes"/>
   </message>
   <message name="AttachedDocumentTypes_Result">
      <part name="parameters" element="tns:AttachedDocumentTypes_Result"/>
   </message>
   <message name="CoversByPackage">
      <part name="parameters" element="tns:CoversByPackage"/>
   </message>
   <message name="CoversByPackage_Result">
      <part name="parameters" element="tns:CoversByPackage_Result"/>
   </message>
   <message name="DiscountsByPackage">
      <part name="parameters" element="tns:DiscountsByPackage"/>
   </message>
   <message name="DiscountsByPackage_Result">
      <part name="parameters" element="tns:DiscountsByPackage_Result"/>
   </message>
   <message name="ChargesByPackage">
      <part name="parameters" element="tns:ChargesByPackage"/>
   </message>
   <message name="ChargesByPackage_Result">
      <part name="parameters" element="tns:ChargesByPackage_Result"/>
   </message>
   <portType name="WebDataMgt_Port">
      <operation name="TaxOffices">
         <input name="TaxOffices" message="tns:TaxOffices"/>
         <output name="TaxOffices_Result" message="tns:TaxOffices_Result"/>
      </operation>
      <operation name="Professions">
         <input name="Professions" message="tns:Professions"/>
         <output name="Professions_Result" message="tns:Professions_Result"/>
      </operation>
      <operation name="RelationTypes">
         <input name="RelationTypes" message="tns:RelationTypes"/>
         <output name="RelationTypes_Result" message="tns:RelationTypes_Result"/>
      </operation>
      <operation name="InsCompanies">
         <input name="InsCompanies" message="tns:InsCompanies"/>
         <output name="InsCompanies_Result" message="tns:InsCompanies_Result"/>
      </operation>
      <operation name="Brokers">
         <input name="Brokers" message="tns:Brokers"/>
         <output name="Brokers_Result" message="tns:Brokers_Result"/>
      </operation>
      <operation name="CustomFieldsTemplates">
         <input name="CustomFieldsTemplates" message="tns:CustomFieldsTemplates"/>
         <output name="CustomFieldsTemplates_Result" message="tns:CustomFieldsTemplates_Result"/>
      </operation>
      <operation name="CustomFields">
         <input name="CustomFields" message="tns:CustomFields"/>
         <output name="CustomFields_Result" message="tns:CustomFields_Result"/>
      </operation>
      <operation name="CustomFieldsValues">
         <input name="CustomFieldsValues" message="tns:CustomFieldsValues"/>
         <output name="CustomFieldsValues_Result" message="tns:CustomFieldsValues_Result"/>
      </operation>
      <operation name="CustomFieldsPerTemplate">
         <input name="CustomFieldsPerTemplate" message="tns:CustomFieldsPerTemplate"/>
         <output name="CustomFieldsPerTemplate_Result" message="tns:CustomFieldsPerTemplate_Result"/>
      </operation>
      <operation name="Covers">
         <input name="Covers" message="tns:Covers"/>
         <output name="Covers_Result" message="tns:Covers_Result"/>
      </operation>
      <operation name="Packages">
         <input name="Packages" message="tns:Packages"/>
         <output name="Packages_Result" message="tns:Packages_Result"/>
      </operation>
      <operation name="Discounts">
         <input name="Discounts" message="tns:Discounts"/>
         <output name="Discounts_Result" message="tns:Discounts_Result"/>
      </operation>
      <operation name="Charges">
         <input name="Charges" message="tns:Charges"/>
         <output name="Charges_Result" message="tns:Charges_Result"/>
      </operation>
      <operation name="VesselTypes">
         <input name="VesselTypes" message="tns:VesselTypes"/>
         <output name="VesselTypes_Result" message="tns:VesselTypes_Result"/>
      </operation>
      <operation name="VehicleTypes">
         <input name="VehicleTypes" message="tns:VehicleTypes"/>
         <output name="VehicleTypes_Result" message="tns:VehicleTypes_Result"/>
      </operation>
      <operation name="Makes">
         <input name="Makes" message="tns:Makes"/>
         <output name="Makes_Result" message="tns:Makes_Result"/>
      </operation>
      <operation name="MakesByType">
         <input name="MakesByType" message="tns:MakesByType"/>
         <output name="MakesByType_Result" message="tns:MakesByType_Result"/>
      </operation>
      <operation name="Models">
         <input name="Models" message="tns:Models"/>
         <output name="Models_Result" message="tns:Models_Result"/>
      </operation>
      <operation name="Colors">
         <input name="Colors" message="tns:Colors"/>
         <output name="Colors_Result" message="tns:Colors_Result"/>
      </operation>
      <operation name="Banks">
         <input name="Banks" message="tns:Banks"/>
         <output name="Banks_Result" message="tns:Banks_Result"/>
      </operation>
      <operation name="Counties">
         <input name="Counties" message="tns:Counties"/>
         <output name="Counties_Result" message="tns:Counties_Result"/>
      </operation>
      <operation name="CountriesRegions">
         <input name="CountriesRegions" message="tns:CountriesRegions"/>
         <output name="CountriesRegions_Result" message="tns:CountriesRegions_Result"/>
      </operation>
      <operation name="Ports">
         <input name="Ports" message="tns:Ports"/>
         <output name="Ports_Result" message="tns:Ports_Result"/>
      </operation>
      <operation name="VesselClassSociety">
         <input name="VesselClassSociety" message="tns:VesselClassSociety"/>
         <output name="VesselClassSociety_Result" message="tns:VesselClassSociety_Result"/>
      </operation>
      <operation name="InsObjectTypes">
         <input name="InsObjectTypes" message="tns:InsObjectTypes"/>
         <output name="InsObjectTypes_Result" message="tns:InsObjectTypes_Result"/>
      </operation>
      <operation name="InsObjectTypeGroups">
         <input name="InsObjectTypeGroups" message="tns:InsObjectTypeGroups"/>
         <output name="InsObjectTypeGroups_Result" message="tns:InsObjectTypeGroups_Result"/>
      </operation>
      <operation name="DurationTypes">
         <input name="DurationTypes" message="tns:DurationTypes"/>
         <output name="DurationTypes_Result" message="tns:DurationTypes_Result"/>
      </operation>
      <operation name="InsCategories">
         <input name="InsCategories" message="tns:InsCategories"/>
         <output name="InsCategories_Result" message="tns:InsCategories_Result"/>
      </operation>
      <operation name="InsSubCategories">
         <input name="InsSubCategories" message="tns:InsSubCategories"/>
         <output name="InsSubCategories_Result" message="tns:InsSubCategories_Result"/>
      </operation>
      <operation name="CoverCategories">
         <input name="CoverCategories" message="tns:CoverCategories"/>
         <output name="CoverCategories_Result" message="tns:CoverCategories_Result"/>
      </operation>
      <operation name="EndorsementReasons">
         <input name="EndorsementReasons" message="tns:EndorsementReasons"/>
         <output name="EndorsementReasons_Result" message="tns:EndorsementReasons_Result"/>
      </operation>
      <operation name="CustomerDiscountGroups">
         <input name="CustomerDiscountGroups" message="tns:CustomerDiscountGroups"/>
         <output name="CustomerDiscountGroups_Result" message="tns:CustomerDiscountGroups_Result"/>
      </operation>
      <operation name="AttachedDocumentTypes">
         <input name="AttachedDocumentTypes" message="tns:AttachedDocumentTypes"/>
         <output name="AttachedDocumentTypes_Result" message="tns:AttachedDocumentTypes_Result"/>
      </operation>
      <operation name="CoversByPackage">
         <input name="CoversByPackage" message="tns:CoversByPackage"/>
         <output name="CoversByPackage_Result" message="tns:CoversByPackage_Result"/>
      </operation>
      <operation name="DiscountsByPackage">
         <input name="DiscountsByPackage" message="tns:DiscountsByPackage"/>
         <output name="DiscountsByPackage_Result" message="tns:DiscountsByPackage_Result"/>
      </operation>
      <operation name="ChargesByPackage">
         <input name="ChargesByPackage" message="tns:ChargesByPackage"/>
         <output name="ChargesByPackage_Result" message="tns:ChargesByPackage_Result"/>
      </operation>
   </portType>
   <binding name="WebDataMgt_Binding" type="tns:WebDataMgt_Port">
      <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
      <operation name="TaxOffices">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:TaxOffices" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="TaxOffices">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="TaxOffices_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="Professions">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:Professions" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="Professions">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="Professions_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="RelationTypes">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:RelationTypes" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="RelationTypes">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="RelationTypes_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="InsCompanies">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:InsCompanies" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="InsCompanies">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="InsCompanies_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="Brokers">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:Brokers" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="Brokers">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="Brokers_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="CustomFieldsTemplates">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:CustomFieldsTemplates" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="CustomFieldsTemplates">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="CustomFieldsTemplates_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="CustomFields">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:CustomFields" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="CustomFields">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="CustomFields_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="CustomFieldsValues">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:CustomFieldsValues" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="CustomFieldsValues">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="CustomFieldsValues_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="CustomFieldsPerTemplate">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:CustomFieldsPerTemplate" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="CustomFieldsPerTemplate">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="CustomFieldsPerTemplate_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="Covers">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:Covers" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="Covers">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="Covers_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="Packages">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:Packages" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="Packages">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="Packages_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="Discounts">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:Discounts" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="Discounts">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="Discounts_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="Charges">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:Charges" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="Charges">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="Charges_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="VesselTypes">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:VesselTypes" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="VesselTypes">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="VesselTypes_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="VehicleTypes">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:VehicleTypes" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="VehicleTypes">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="VehicleTypes_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="Makes">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:Makes" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="Makes">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="Makes_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="MakesByType">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:MakesByType" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="MakesByType">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="MakesByType_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="Models">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:Models" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="Models">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="Models_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="Colors">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:Colors" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="Colors">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="Colors_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="Banks">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:Banks" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="Banks">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="Banks_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="Counties">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:Counties" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="Counties">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="Counties_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="CountriesRegions">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:CountriesRegions" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="CountriesRegions">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="CountriesRegions_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="Ports">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:Ports" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="Ports">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="Ports_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="VesselClassSociety">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:VesselClassSociety" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="VesselClassSociety">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="VesselClassSociety_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="InsObjectTypes">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:InsObjectTypes" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="InsObjectTypes">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="InsObjectTypes_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="InsObjectTypeGroups">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:InsObjectTypeGroups" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="InsObjectTypeGroups">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="InsObjectTypeGroups_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="DurationTypes">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:DurationTypes" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="DurationTypes">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="DurationTypes_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="InsCategories">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:InsCategories" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="InsCategories">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="InsCategories_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="InsSubCategories">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:InsSubCategories" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="InsSubCategories">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="InsSubCategories_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="CoverCategories">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:CoverCategories" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="CoverCategories">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="CoverCategories_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="EndorsementReasons">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:EndorsementReasons" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="EndorsementReasons">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="EndorsementReasons_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="CustomerDiscountGroups">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:CustomerDiscountGroups" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="CustomerDiscountGroups">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="CustomerDiscountGroups_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="AttachedDocumentTypes">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:AttachedDocumentTypes" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="AttachedDocumentTypes">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="AttachedDocumentTypes_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="CoversByPackage">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:CoversByPackage" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="CoversByPackage">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="CoversByPackage_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="DiscountsByPackage">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:DiscountsByPackage" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="DiscountsByPackage">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="DiscountsByPackage_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
      <operation name="ChargesByPackage">
         <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WebDataMgt:ChargesByPackage" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         <input name="ChargesByPackage">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </input>
         <output name="ChargesByPackage_Result">
            <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
         </output>
      </operation>
   </binding>
   <service name="WebDataMgt">
      <port name="WebDataMgt_Port" binding="tns:WebDataMgt_Binding">
         <address location="https://soap.insnemo.gr:7047/WS/ws/AIG_UAT/Codeunit/WebDataMgt?WSDL" xmlns="http://schemas.xmlsoap.org/wsdl/soap/"/>
      </port>
   </service>
</definitions>